/* Typography */
a {
  color: #5aa938;
  text-decoration: none;
  font-weight: bold;

  &:hover, &:active {
    color: #85c352;
  }

}

h1 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

h2 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #999;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

#loading {
  .d-flex{
    align-items: center;
    color: #59a838;
  }
  border:3px solid #59a838;
  border-radius: 3px;
  padding: 20px;
  width: 300px;
  height: 100px;
  background: #29282a;
  position: fixed;
  display: none;
  z-index: 3000;
}

#loading h4 { font-weight: 700; margin: 3px 0 0 0; padding: 0; color: #58a738; }

/* Helpers */
.centered { text-align: center;}

//.clear { clear:both; height: 1px; visibility: none;}

.hidden { display: none;}

.faded { color:#666;}

/* Pagination */
#pagination {
  border: 0;
  margin: 0 0 40px 0;
  padding: 0;
  li {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 11px;
    list-style: none;
    display: inline;
    a {
      margin-right: 2px;
      display: block;
      float: left;
      padding: 3px 6px;
      text-decoration: none;
    }
    a:hover {
      color: #ff0084;
    }
  }
  .previousOff, .nextOff {
    color: #666;
    display: block;
    float: left;
    font-weight: bold;
    padding: 3px 4px;
  }
  .next a, .previous a {
    font-weight: bold;
  }
  .active {
    color: #000;
    font-weight: bold;
    margin-right: 2px;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
  }
}

/* Alerts & Notices */

#msg_notice {
  color: #0a0;
  padding: 10px;
  line-height: 16px;
  margin-bottom: 10px;
  border: 1px solid #0a0;
  background: #e0ffe0;
}

#msg_warning {
  color: #f26522;
  padding: 10px;
  line-height: 16px;
  margin-bottom: 10px;
  border: 1px solid #f26522;
  background:  #ffffdd;
}

#msg_error {
  color: #a00;
  padding: 10px;
  line-height: 16px;
  margin-bottom: 10px;
  border: 1px solid #a00;
  background: #fff0f0;
}


.warning {
  background: #ffc;
  font-style: italic;
  strong {
    text-transform: uppercase;
    color: #a00;
    font-style: normal;
  }
}

.error {
  color:#f00;
  input {
    border:1px solid #f00;
  }
}

.text-muted {
  color: #919193 !important;
}


.button, .button:visited, .btn {
    background-color: #59a838;
    display: inline-block;
    font-size: 16px;
    padding: 8px 32px 8px 32px;
    text-align:center;
    color: #ffffff;
    font-weight:bold;
    text-decoration: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-bottom: 3px solid #376921;
    border-top: 3px solid #86c553;
    border-left: 0 solid #376921;
    border-right: 0 solid #86c553;
    position: relative;
    cursor: pointer;
    font-family:helvetica, arial, sans-serif;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    transition: all 0.3s ease;

    &:hover{
      background-color: #529c33;
      color: #ffffff;
    }
}

.action-button {
  padding: 5px;
  border: 1px #59a838 solid;
  border-radius: 5px;
  font-size: 14px;
  color: #59a838;
  background: #29282a;
  transition: all 0.3s ease;
  &:hover{
    background-color: #59a838;
    color: #ffffff;
  }
}

.select2-container--default {
  input {
    background-color: white;
    color: black;
    &:focus {
      box-shadow: 0 0 0 3px #5897fb;
    }
  }
  color: black;
}