html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #ffffff;
}
input,
select,
textarea {
  color: black;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
hr {
  margin-top: 5px;
  opacity: 1;
  border-bottom: 0.1rem solid #434343;
  border-top: 0.1rem solid #1e1d1f;
}
small {
  font-size: 85%;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 30px;
}
img {
  border: 0;
  vertical-align: middle;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
input,
select,
textarea {
  margin-top: 5px;
  border: none;
  padding: 10px 10px 10px 10px;
  background: #4b4a4d;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 3px #5aa938;
}
input {
  line-height: normal;
  *overflow: visible;
}
table input {
  *overflow: auto;
}
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  vertical-align: top;
}
th {
  text-align: left;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset {
  margin: 0;
  padding: 0;
}
/* Typography */
a {
  color: #5aa938;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:active {
  color: #85c352;
}
h1 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}
h2 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #999;
}
h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}
#loading {
  border: 3px solid #59a838;
  border-radius: 3px;
  padding: 20px;
  width: 300px;
  height: 100px;
  background: #29282a;
  position: fixed;
  display: none;
  z-index: 3000;
}
#loading .d-flex {
  align-items: center;
  color: #59a838;
}
#loading h4 {
  font-weight: 700;
  margin: 3px 0 0 0;
  padding: 0;
  color: #58a738;
}
/* Helpers */
.centered {
  text-align: center;
}
.hidden {
  display: none;
}
.faded {
  color: #666;
}
/* Pagination */
#pagination {
  border: 0;
  margin: 0 0 40px 0;
  padding: 0;
}
#pagination li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 11px;
  list-style: none;
  display: inline;
}
#pagination li a {
  margin-right: 2px;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}
#pagination li a:hover {
  color: #ff0084;
}
#pagination .previousOff,
#pagination .nextOff {
  color: #666;
  display: block;
  float: left;
  font-weight: bold;
  padding: 3px 4px;
}
#pagination .next a,
#pagination .previous a {
  font-weight: bold;
}
#pagination .active {
  color: #000;
  font-weight: bold;
  margin-right: 2px;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}
/* Alerts & Notices */
#msg_notice {
  color: #0a0;
  padding: 10px;
  line-height: 16px;
  margin-bottom: 10px;
  border: 1px solid #0a0;
  background: #e0ffe0;
}
#msg_warning {
  color: #f26522;
  padding: 10px;
  line-height: 16px;
  margin-bottom: 10px;
  border: 1px solid #f26522;
  background: #ffffdd;
}
#msg_error {
  color: #a00;
  padding: 10px;
  line-height: 16px;
  margin-bottom: 10px;
  border: 1px solid #a00;
  background: #fff0f0;
}
.warning {
  background: #ffc;
  font-style: italic;
}
.warning strong {
  text-transform: uppercase;
  color: #a00;
  font-style: normal;
}
.error {
  color: #f00;
}
.error input {
  border: 1px solid #f00;
}
.text-muted {
  color: #919193 !important;
}
.button,
.button:visited,
.btn {
  background-color: #59a838;
  display: inline-block;
  font-size: 16px;
  padding: 8px 32px 8px 32px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-bottom: 3px solid #376921;
  border-top: 3px solid #86c553;
  position: relative;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.button:hover,
.button:visited:hover,
.btn:hover {
  background-color: #529c33;
  color: #ffffff;
}
body {
  background: #29282a;
  color: #f0e1e1;
}
#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65) 10%, rgba(10, 10, 10, 0)), url("../images/subzoomed.webp");
  position: relative;
  background-position: 10% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  padding: 0 20px;
}
#header #logo {
  width: 220px;
  height: 71px;
  padding-top: 15px;
  float: left;
}
#header #logo img {
  width: 220px;
}
#header p {
  width: 400px;
  text-align: right;
  margin: 0;
  padding: 10px 0;
  float: right;
}
#nav {
  display: flex;
  background-color: #5aa938;
  border-bottom: 3px solid #376921;
  border-top: 3px solid #86c553;
  margin: 0;
}
#nav li {
  display: contents;
  list-style: none;
}
#nav li a {
  padding: 8px 20px;
  color: #ffffff;
}
#nav li a:hover {
  background: #529c33;
}
#nav li a:active {
  background: #478a2b;
}
#content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
#footer {
  margin-top: 15px;
  background-color: #1e1d1f;
  color: gray;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#footer p {
  margin: 10px 0 0 0;
}
#footer #poweredBy {
  display: block;
  width: 250px;
  height: 40px;
  outline: none;
  text-indent: -9999px;
  margin: 0 auto;
  background: url('../images/poweredby.png') top left no-repeat;
}
#landing_page #new_ticket {
  margin-top: 40px;
  width: 295px;
  padding-left: 75px;
  float: left;
  background: url('../images/new_ticket_icon.png') top left no-repeat;
}
#landing_page #check_status {
  margin-top: 40px;
  width: 295px;
  padding-left: 75px;
  float: right;
  background: url('../images/check_status_icon.png') top left no-repeat;
}
/* Landing page FAQ not yet implemented. */
#faq {
  clear: both;
  margin: 0;
  padding: 5px;
}
#faq ol {
  font-size: 15px;
  margin-left: 0;
  padding-left: 0;
  border-top: 1px solid #ddd;
}
#faq ol li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #999;
}
#faq ol li a {
  display: block;
  padding: 5px 0;
  height: auto !important;
  overflow: hidden;
  margin: 0;
  border-bottom: 1px solid #ddd;
  line-height: 16px;
  padding-left: 24px;
  background: url('../images/icons/page.png') 0 50% no-repeat;
}
#faq ol li a:hover {
  background-color: #e9f5ff;
}
#faq .article-meta {
  padding: 5px;
  background: #fafafa;
}
#kb {
  margin: 2px 0;
  padding: 5px;
  overflow: hidden;
}
#kb > li {
  padding: 10px;
  height: auto !important;
  overflow: hidden;
  margin: 0;
  background: url(../images/kb_category_bg.png) bottom left repeat-x;
  border-bottom: 1px solid #ddd;
}
#kb > li h4 {
  padding-bottom: 3px;
  margin-bottom: 3px;
}
#kb > li h4 span {
  color: #666;
}
#kb > li h4 a {
  font-size: 14px;
}
#kb li i {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 6px;
  background: url(../images/kb_large_folder.png) top left no-repeat;
}
#kb-search {
  padding: 10px 0;
  overflow: hidden;
}
#kb-search div {
  clear: both;
  overflow: hidden;
  padding-top: 5px;
}
#kb-search #query {
  margin: 0;
  display: inline-block;
  float: left;
  width: 200px;
  margin-right: 5px;
}
#kb-search #cid {
  margin: 0;
  display: inline-block;
  float: left;
  width: 200px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
#kb-search #topic-id {
  margin: 0;
  display: inline-block;
  float: left;
  width: 410px;
}
#kb-search #searchSubmit {
  margin: 0;
  display: inline-block;
  float: left;
  position: relative;
  top: 2px;
}
#kb-search #breadcrumbs {
  color: #333;
  margin-bottom: 15px;
}
#kb-search #breadcrumbs #breadcrumbs a {
  color: #555;
}
#ticketInfo {
  width: 100%;
  margin: 20px 0;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-right: 5px;
}
.thread-event {
  align-items: center;
}
.thread-event .faded {
  background: #29282a;
}
.thread-event .faded .avatar {
  height: 20px;
  border-radius: 50px;
  margin-right: 5px;
}
.thread-event .icon {
  display: flex;
  width: 20px;
  height: 25px;
  background: #29282a;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
#ticketForm,
#clientLogin {
  margin-bottom: 10px;
}
#ticketForm table,
#clientLogin table {
  width: 100%;
}
#ticketForm div label,
#clientLogin div label {
  margin-bottom: 0.5rem;
  padding-top: 10px;
  display: block;
}
#ticketForm div label.required,
#clientLogin div label.required {
  font-weight: bold;
  text-align: left;
}
#ticketForm div input,
#clientLogin div input,
#ticketForm div textarea,
#clientLogin div textarea {
  display: block;
}
#ticketForm div input[type=file],
#clientLogin div input[type=file] {
  border: 0;
}
#ticketForm div select,
#clientLogin div select {
  display: block;
  float: left;
}
#ticketForm div div.captchaRow,
#clientLogin div div.captchaRow {
  line-height: 31px;
}
#ticketForm div div.captchaRow input,
#clientLogin div div.captchaRow input {
  position: relative;
  top: 6px;
}
#ticketForm td textarea,
#clientLogin td textarea,
#ticketForm div textarea,
#clientLogin div textarea {
  width: 600px;
}
#ticketForm td em,
#clientLogin td em,
#ticketForm div em,
#clientLogin div em {
  color: #777;
}
#ticketForm td .captcha,
#clientLogin td .captcha,
#ticketForm div .captcha,
#clientLogin div .captcha {
  width: 88px;
  height: 31px;
  background: #000;
  display: block;
  float: left;
  margin-right: 20px;
}
#ticketForm td label.inline,
#clientLogin td label.inline,
#ticketForm div label.inline,
#clientLogin div label.inline {
  width: auto;
  padding: 0 10px;
}
#ticketForm div.error input,
#clientLogin div.error input {
  border: 1px solid #a00;
}
#ticketForm div.error label,
#clientLogin div.error label {
  color: #a00;
}
#ticketTable th {
  width: 160px;
  font-weight: normal;
  text-align: left;
}
#ticketTable th.required,
#ticketTable td.required {
  font-weight: bold;
  text-align: left;
}
#reply {
  margin-top: 20px;
  padding: 10px 5px;
}
#reply h2 {
  margin-bottom: 10px;
}
#reply table {
  width: 800px;
}
#reply table td {
  vertical-align: top;
}
#reply textarea {
  width: 628px !important;
}
#reply input[type=text],
#reply #response_options textarea {
  border: 1px solid #aaa;
  background: #fff;
}
#reply .attachments .uploads div {
  display: inline-block;
  padding-right: 20px;
}
#reply .file {
  display: inline-block;
  padding-left: 20px;
  margin-right: 20px;
  height: 50px;
  background: url('../images/icons/file.gif') 0 50% no-repeat;
}
.uploads {
  display: inline-block;
  padding-right: 20px;
}
.uploads label {
  padding: 3px;
  padding-right: 10px;
  width: auto !important;
}
.redactor-placeholder::before {
  color: rgba(255, 255, 255, 0.4);
}
.redactor-box.redactor-styles-on {
  background: #4a494c;
  color: #fdfdfd;
}
.redactor-box.redactor-styles-on .redactor-toolbar.redactor-toolbar {
  background: #29282a;
}
.redactor-box.redactor-styles-on .redactor-toolbar.redactor-toolbar a {
  color: #59a838;
  background: #29282a;
}
.redactor-box.redactor-styles-on .redactor-toolbar.redactor-toolbar a:hover,
.redactor-box.redactor-styles-on .redactor-toolbar.redactor-toolbar a:active {
  color: #85c352;
}
.redactor-styles {
  color: #fdfdfd;
}
.redactor-dropdown {
  background-color: #211f22;
}
.redactor-dropdown a {
  color: #fff;
  border-bottom: 1px solid #171617;
}
.redactor-dropdown a.redactor-dropdown-item-disabled {
  color: rgba(255, 255, 255, 0.4);
  background: #211f22;
  border-bottom: 1px solid #121111;
}
.redactor-modal textarea {
  color: #000 !important;
}
.redactor-modal input {
  color: #000 !important;
}
.redactor-statusbar {
  background: #29282a;
}
.redactor-statusbar li {
  color: rgba(255, 255, 255, 0.5);
}
.redactor-blur.redactor-styles-on .redactor-component-active {
  outline: 5px solid #58a738 !important;
}
.filedrop .dropzone a {
  color: #58a738 !important;
}
.form-header {
  margin-top: 20px;
}
/* Ticket icons */
.Icon {
  width: auto;
  padding-left: 20px;
  background-position: top left;
  background-repeat: no-repeat;
  color: #006699;
  text-decoration: none;
}
.Icon.Ticket {
  background-image: url('../images/icons/ticket.gif');
}
.Icon.webTicket {
  background-image: url('../images/icons/ticket_source_web.gif');
}
.Icon.emailTicket {
  background-image: url('../images/icons/ticket_source_email.gif');
}
.Icon.phoneTicket {
  background-image: url('../images/icons/ticket_source_phone.gif');
}
.Icon.otherTicket {
  background-image: url('../images/icons/ticket_source_other.gif');
}
.Icon.attachment {
  background-image: url('../images/icons/attachment.gif');
}
.Icon.file {
  background-image: url('../images/icons/attachment.gif');
}
.Icon.refresh {
  background-image: url('../images/icons/refresh.gif');
}
.Icon.thread {
  font-weight: bold;
  font-size: 1em;
  background-image: url('../images/icons/thread.gif?1319556657');
}
.Icon:hover {
  text-decoration: underline;
}
#ticketTable {
  border: 1px solid #aaa;
  border-left: none;
  border-bottom: none;
}
#ticketTable caption {
  padding: 5px;
  text-align: left;
  color: #000;
  background: #ddd;
  border: 1px solid #aaa;
  border-bottom: none;
  font-weight: bold;
}
#ticketTable th {
  height: 24px;
  line-height: 24px;
  background: #e1f2ff;
  border: 1px solid #aaa;
  border-right: none;
  border-top: none;
}
#ticketTable th a {
  color: #000;
}
#ticketTable td {
  padding: 2px;
  border: 1px solid #aaa;
  border-right: none;
  border-top: none;
}
#ticketTable tr.alt td {
  background: #f9f9f9;
}
#ticketSearchForm {
  display: inline-block;
  float: left;
  padding: 0 0 5px 0;
}
a.refresh {
  display: block;
  width: auto;
  float: right;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0 10px 0 28px;
  border: 1px solid #aaa;
  margin-left: 10px;
  color: #333;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-image: url('../images/icons/refresh.png');
}
.infoTable th {
  text-align: left;
}
#ticketThread {
  position: relative;
}
#ticketThread::before {
  z-index: -1;
  content: "";
  border-left: 2px dotted gray;
  margin-left: 78px;
  height: 100%;
  position: absolute;
}
#ticketThread table {
  margin-top: 10px;
  border: 1px solid #aaa;
  border-bottom: 2px solid #aaa;
}
#ticketThread table th {
  text-align: left;
  border-bottom: 1px solid #aaa;
  font-size: 12px;
  padding: 5px;
}
#ticketThread table th span {
  font-weight: normal;
  color: #888;
  padding-left: 20px;
}
#ticketThread table td {
  padding: 5px;
}
#ticketThread .thread-box {
  background-color: #29282a;
  min-height: 100px;
  border: #49484b 1px solid;
  margin-bottom: 25px ;
}
#ticketThread .thread-box .header {
  background: #49484b;
  padding: 10px 15px;
}
#ticketThread .thread-event {
  margin-left: 70px;
  margin-bottom: 25px;
  align-items: center;
}
#ticketThread .thread-event .faded {
  background: #29282a;
}
#ticketThread .thread-event .faded .avatar {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  margin-right: 5px;
}
#ticketThread .thread-event .icon {
  display: flex;
  width: 20px;
  height: 25px;
  background: #29282a;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}
#ticketThread .message th {
  background: #d8efff;
}
#ticketThread .response th {
  background: #ddd;
}
#ticketThread .info {
  padding: 2px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  height: 16px;
  line-height: 16px;
}
#ticketThread .info a {
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding-left: 24px;
  height: 16px;
  line-height: 16px;
  background-position: 0 50%;
  background-repeat: no-repeat;
}
